.container {
	background: var(--color-background-surface);
	display: flex;
	justify-content: space-between;
	height: 68px;
	position: sticky;
	top: 0;
	z-index: 1;

	.gamepadsContainer {
		display: flex;
		gap: 4px;
		align-items: center;
	}

	.buttonsContainer {
		display: flex;
		align-items: center;
		gap: 4px;

		.batteries {
			display: flex;
			margin-right: 8px;

			.battery {
				display: flex;
				align-items: center;

				.icon {
					font-size: 2rem;
				}

				.percent {
					font-size: 1.3rem;
				}
			}
		}
	}
}
