.container {
	background: var(--color-background-surface);
	display: flex;
	justify-content: space-between;
	height: 68px;

	.gamepadsContainer {
		display: flex;
		gap: 4px;
		align-items: center;
	}

	.buttonsContainer {
		display: flex;
		align-items: center;
		gap: 4px;
	}
}
