.container {
	height: 300px;
	width: 200px;
	background: var(--color-background-surface);
	color: var(--color-text);
	font-size: 2rem;

	&.focused {
		background: var(--color-background-primary-focus);
		color: var(--color-text-primary-focus);
	}
}
