.container {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.gamepadSection {
		border: 2px solid var(--color-accent1-faint);
		display: flex;
		flex-direction: column;
		font-size: 2rem;

		.index {
			font-weight: bold;
		}

		.section {
			display: flex;
			flex-direction: column;
			font-size: 1.5rem;
		}
	}
}
