.input {
	font-size: 2rem;
	background: var(--color-accent1-faint);
	color: var(--color-text);
	border: none;
	padding: 12px 16px;
	margin: 6px;

	&.focused {
		background: var(--color-accent1);

		outline: 2px solid var(--color-accent1-faint);
		outline-offset: 4px;
	}
}
