.input {
	font-size: 2rem;
	background: var(--color-background-surface);
	color: var(--color-text);
	border: 1px solid var(--color-background-surface-focus);
	padding: 12px 16px;
	margin: 6px;
	width: 500px;

	&::placeholder {
		color: var(--color-text-secondary);
	}

	&.focused {
		border-color: var(--color-background-primary);
	}
}
