.container {
	padding: 2px;
	position: relative;
	isolation: isolate;
	overflow: hidden;

	&.focused {
		&::before {
			left: -100%;
		}

		.content {
			background: var(--color-background-surface-focus);
		}
	}

	.content {
		width: 400px;
		height: calc(400px / 1.61);
		display: flex;
		background: var(--color-background-surface);
		transition: background 0.15s;

		.title {
			font-family: var(--font-stylish-title);
			color: var(--color-text);
			font-size: 3rem;
			padding: 0 10px;
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 200%;
		background: linear-gradient(
			90deg,
			var(--color-primary-dark) 0%,
			var(--color-primary-light) 50%,
			var(--color-text) 100%
		);
		z-index: -1;
		transition: left 0.15s;
	}
}
