.button {
	color: var(--color-text-primary);
	background: var(--color-background-primary);
	font-family: var(--font-normal);
	font-size: 2rem;
	padding: 8px 16px;
	margin: 0px;

	&.focused {
		background: var(--color-background-primary-focus);
		color: var(--color-text-primary-focus);
		outline: 2px solid var(--color-background-primary-focus);
		outline-offset: 2px;
	}

	&.disabled {
		background: var(--color-background-primary-disable);
		color: var(--color-text-primary-disable);
	}

	&:active {
		background: var(--color-background-primary-active);
		color: var(--color-text-primary-active);
	}
}
