@font-face {
	font-family: "Capitol City";
	src: url(fonts/capitol-city/capitol-city.ttf);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Capitol City";
	src: url(fonts/capitol-city/capitol-city_bold.ttf);
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Capitol City";
	src: url(fonts/capitol-city/capitol-city_italic.ttf);
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "Sansation";
	src: url(fonts/sansation/sansation.ttf);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Sansation";
	src: url(fonts/sansation/sansation_bold.ttf);
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Sansation";
	src: url(fonts/sansation/sansation_bolditalic.ttf);
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: "Sansation";
	src: url(fonts/sansation/sansation_italic.ttf);
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "Sansation";
	src: url(fonts/sansation/sansation_light.ttf);
	font-style: normal;
	font-weight: lighter;
}

@font-face {
	font-family: "Sansation";
	src: url(fonts/sansation/sansation_lightitalic.ttf);
	font-style: italic;
	font-weight: lighter;
}

:root {
	--font-stylish-title:
		"Capitol City", "Impact", "Haettenschweiler", "Arial Black", sans-serif;
	--font-normal: "Sansation", "Arial", sans-serif;

	--color-background: #111827;
	--color-background-surface: #1f2937;
	--color-background-surface-focus: #374151;
	--color-text: #f9fafb;

	--color-background-primary: #00c3e3;
	--color-text-primary: #111827;
	--color-background-primary-focus: #008da1;
	--color-text-primary-focus: #f9fafb;
	--color-background-primary-active: #007082;
	--color-text-primary-active: #f9fafb;
	--color-background-primary-disable: #374151;
	--color-text-primary-disable: #f9fafb;

	// --color-background: #f9fafb;
	// --color-section-background: #e5e7eb;

	// --color-primary: #00c3e3;
	// --color-primary-dark: #008da1;
	// --color-primary-light: #7ee8f5;

	// --color-text: #1f2937;
	// --color-text-secondary: #4b5563;

	// --color-text: #1f2937;
	// --color-accent1: #00c3e3;
	// --color-accent1-faint: #004040;
	// --color-accent2: #7a0000;
	// --color-accent2-faint: #3d0000;
}

* {
	box-sizing: border-box;
}

body {
	background: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-normal);
	margin: 0;
	overflow: hidden;
}

button {
	color: var(--color-text-primary);
	background: var(--color-background-primary);
	font-family: var(--font-normal);
	border: none;
	user-select: none;
	cursor: pointer;
	font-size: 2rem;

	&:focus {
		outline: none;
	}

	&.focused {
		background: var(--color-background-primary-focus);
		color: var(--color-text-primary-focus);
	}

	&.disabled {
		background: var(--color-background-primary-disable);
		color: var(--color-text-primary-disable);
	}

	&:active {
		background: var(--color-background-primary-active);
		color: var(--color-text-primary-active);
	}
}

input {
	font-family: var(--font-normal);

	&:focus {
		outline: none;
	}
}
