.container {
	width: 100%;
	height: 100%;
	background: var(--color-background-surface);
	position: relative;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background: linear-gradient(
			90deg,
			transparent 0%,
			var(--color-background-surface-focus) 33%,
			var(--color-background-surface-focus) 67%,
			transparent 100%
		);
		width: 200%;
		animation: #{ghost} 1s linear infinite;
	}
}

@keyframes #{ghost} {
	0% {
		transform: translateX(-100%);
		left: 0;
	}
	70% {
		transform: translateX(0);
		left: 100%;
	}
	100% {
		transform: translateX(0);
		left: 100%;
	}
}
